.search-bar-container {
  position: relative;
  display: inline-block;
}

.search-input {
  width: 280px !important;
  height: 40px;
  border: 1px solid #E6EAF5;
  border-radius: 5px;
  line-height: 19px;
  padding: 0 10px;
  color: #929BBC;
  font-size: 14px;
  font-weight: 400
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}